{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bestellingen overzicht</h1>
    <button href="{{ path('nieuwebestelopdracht') }}">Nieuwe bestelopdracht</button>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>Product aantal</td>
            <td>Product barcode</td>
            <td>Wijzigen</td>
            <td>Verwijderen</td>
        </tr>

        {% for bestelling in bestellingen %}
            <tr>
                <td>{{ bestelling.aantal }}</td>
                <td>{{ bestelling.productBarcode }}</td>
                <td><a href="{{ path('wijzigbestelopdracht', {'id':bestelling.id}) }}">Wijzigen</a></td>
                <td><a href="{{ path('verwijderbestelopdracht', {'id':bestelling.id}) }}">Verwijderen</a></td>
            </tr>
        {% endfor %}
</table>
{% endblock %}
