{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
	<div class="row">
		<br>
	<h1>Producten</h1>
	</div>
	<br>
	<br>
	<div class="row">
	<table class="table table-bordered table-striped table-hover">

<thead>
<td>ID</td>
<td>Productnaam</td>
<td>Inkoopprijs</td>
<td>Wijzigen</td>
<td>Verwijderen</td>
</thead>
<tbody>
	{% for product in producten %}

			<tr>
			<td>{{ product.id }}</td>
			<td>{{ product.naam }}</td>
				<td>{{ product.inkoopprijs }}</td>

			<td><a href="{{ path('wijzigproduct', {'id':product.id}) }}">Wijzigen</a></td>
			<td><a href="{{ path('verwijderproduct', {'id':product.id}) }}">Verwijderen</a></td>


			</tr>
	{% endfor %}
</tbody>
	</table>
	</div>
	</div>
{% endblock %}

